@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body {
    margin: 10%;;
    font-family: "Open Sans", serif;
    background: rgba(221,244,248,1);
    background: -moz-linear-gradient(left, rgba(221,244,248,1) 0%, rgba(172,223,235,1) 53%, rgba(129,205,223,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,244,248,1)), color-stop(53%, rgba(172,223,235,1)), color-stop(100%, rgba(129,205,223,1)));
    background: -webkit-linear-gradient(left, rgba(221,244,248,1) 0%, rgba(172,223,235,1) 53%, rgba(129,205,223,1) 100%);
    background: -o-linear-gradient(left, rgba(221,244,248,1) 0%, rgba(172,223,235,1) 53%, rgba(129,205,223,1) 100%);
    background: -ms-linear-gradient(left, rgba(221,244,248,1) 0%, rgba(172,223,235,1) 53%, rgba(129,205,223,1) 100%);
    background: linear-gradient(to right, rgba(221,244,248,1) 0%, rgba(172,223,235,1) 53%, rgba(129,205,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf4f8', endColorstr='#81cddf', GradientType=1 );
}


.main {

    height: 600px;
    background: 1rgba(242,246,248,1);
    background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 22%, rgba(216,225,231,1) 73%, rgba(224,239,249,1) 85%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(0%, rgba(242,246,248,1)), color-stop(22%, rgba(181,198,208,1)), color-stop(73%, rgba(216,225,231,1)), color-stop(85%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 22%, rgba(216,225,231,1) 73%, rgba(224,239,249,1) 85%);
    background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 22%, rgba(216,225,231,1) 73%, rgba(224,239,249,1) 85%);
    background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 22%, rgba(216,225,231,1) 73%, rgba(224,239,249,1) 85%);
    background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 22%, rgba(216,225,231,1) 73%, rgba(224,239,249,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
    box-shadow: 0px 2px 80px-20px rgba(0,0,0,0,5);
    width: 80%;
    margin: 0 auto;
   
}

.info {
    height: 600px;
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}

.form {
    height: 55vh;
    padding-top: 100px;
    padding-left: 50px;
}

button {
    border: 5px solid #4ddca5;
    border-bottom: 4px solid #9a0e48;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(144, 193, 231);
    color: #9a0e48;
    outline: none!important;
}

button:hover {
    border-bottom: 2px solid rgb(249, 239, 239);
    border-color: #f10366;
    top: 2px

}

button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px
}

.info h2 {
    font-size: 2.5em;
    color: rgb(222, 97, 19);
}

.info p {
    font-size: 1.5em;
    color: rgb(112, 75, 28);
    font-weight: bold;
}
.infoWeath {
    font-size: 10px;
    color: rgb(13, 126, 62);
    font-size: 2em;
    font-weight: bold;
}

.error {
    color: #07509f;
    font-weight: bold;
}



/* вебсайт для градиента https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28221\%2C244\%2C248\%2C1\%29\%200\%25\%2C\%20rgba\%28172\%2C223\%2C235\%2C1\%29\%2053\%25\%2C\%20rgba\%28129\%2C205\%2C223\%2C1\%29\%20100\%25\%29\%3B'*/